.form {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.form form {
    max-width: 80%;
    padding: 36px 64px;

    border-radius: 20px;
    background: #f2f7fa;
    box-shadow: 7px 7px 15px 0px #0000000f;
}

.form h2 {
    color: #212121;
    
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}